<h3>Best <%= type %></h3>
<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th><strong>average</strong></th>
  </tr>
  </thead>

  <tbody>
  <% top.each do |top| %>
      <tr>
        <td><%= link_to top.name, top %></td>
        <td><%= round(top.average_rating) %></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>